.navbar{
    position: fixed;
    top: 0;
    right: 0;
    left: 265px;
    display: flex;
    background-color: #11101d;
    height: 65px;
    width: calc(100% - 265px);
    color: #fff;
    align-items: center;
    margin: 0px;

}